--- 
http_interactions: 
- request: 
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/assignment
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394133893000</timestamp>
          <signature>aS06EONsFVOsxyg5V6lSVA==</signature>
          <classId>330</classId>
          <assignmentId>29928</assignmentId>
        </Request>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |-
        <Response>
          <status>
            <session></session>
            <code>0</code>
            <message>OK</message>
          </status>
          <list>
            <element>
              <classId>330</classId>
              <id>29928</id>
              <name>Rational Expressions (Book exercises)</name>
              <mode>1</mode>
              <modeDescription>Homework or Quiz</modeDescription>
              <passingScore>-1</passingScore>
              <totalPoints>11.0</totalPoints>
              <weight>0.0</weight>
              <timeLimit>-1</timeLimit>
              <policy></policy>
            </element>
          </list>
        </Response>
  recorded_at: Thu, 06 Mar 2014 19:24:53 GMT
recorded_with: VCR 2.8.0
