---
http_interactions:
- request:
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/assignment
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394041424000</timestamp>
          <signature>d8DD2wXQCRG2vO8VQpkyiw==</signature>
          <classId>330</classId>
          <assignmentId>29928</assignmentId>
        </Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <Response>
          <status>
            <session></session>
            <code>0</code>
            <message>OK</message>
          </status>
          <list>
            <element>
              <classId>330</classId>
              <id>29928</id>
              <name>Rational Expressions (Book exercises)</name>
              <mode>1</mode>
              <modeDescription>Homework or Quiz</modeDescription>
              <passingScore>-1</passingScore>
              <totalPoints>11.0</totalPoints>
              <weight>0.0</weight>
              <timeLimit>-1</timeLimit>
              <policy></policy>
            </element>
          </list>
        </Response>
  recorded_at: Wed, 05 Mar 2014 17:43:44 GMT
recorded_with: VCR 2.8.0
