---
http_interactions:
- request:
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/assignment
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394040665000</timestamp>
          <signature>b2t2Gdfbl+xvh8IOe/9hbw==</signature>
          <classId>330</classId>
          <assignmentId>0</assignmentId>
        </Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <Response>
          <status>
            <session></session>
            <code>0</code>
            <message>OK</message>
          </status>
          <list>
            <element>
              <classId>330</classId>
              <id>29917</id>
              <name>Real Numbers (Homework)</name>
              <mode>1</mode>
              <modeDescription>Homework or Quiz</modeDescription>
              <passingScore>-1</passingScore>
              <totalPoints>16.0</totalPoints>
              <weight>0.0</weight>
              <timeLimit>-1</timeLimit>
              <policy></policy>
            </element>
            <element>
              <classId>330</classId>
              <id>29918</id>
              <name>Real Numbers (Book exercises)</name>
              <mode>1</mode>
              <modeDescription>Homework or Quiz</modeDescription>
              <passingScore>-1</passingScore>
              <totalPoints>20.0</totalPoints>
              <weight>0.0</weight>
              <timeLimit>-1</timeLimit>
              <policy></policy>
            </element>
     [...]
