---
http_interactions:
- request:
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/connect
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394040662000</timestamp>
          <signature>CioB9UMTYIfvLaHFyAdtsw==</signature>
          <firstName>Maple T.A.</firstName>
          <middleName nil="true"/>
          <lastName>Administrator</lastName>
          <userLogin>admin</userLogin>
          <userEmail>mapleta@thinkwell.com</userEmail>
          <studentId>admin</studentId>
          <userRole>ADMINISTRATOR</userRole>
          <classId>330</classId>
          <courseId>1</courseId>
        </Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <Response>
          <status>
            <session>CD65F1443EE65FDF2A39C18530D67E33</session>
            <code>0</code>
            <message>OK</message>
          </status>
        </Response>
  recorded_at: Wed, 05 Mar 2014 17:31:02 GMT
recorded_with: VCR 2.8.0
