---
http_interactions:
- request:
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/class
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394040663000</timestamp>
          <signature>UzoYW3FW8k2DCTsbHZ+vMw==</signature>
          <classId>0</classId>
          <featured>false</featured>
          <openForRegistration>false</openForRegistration>
        </Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <Response>
          <status>
            <session></session>
            <code>0</code>
            <message>OK</message>
          </status>
          <list>
            <element>
              <id>126</id>
              <name>21st Century Learning Systems - College Algebra (Demo) (1ityjvu)</name>
              <instructor>Maple T.A. Administrator</instructor>
            </element>
            <element>
              <id>170</id>
              <name>Allan Hancock College - College Algebra (Demo) (q7oi2b)</name>
              <instructor>Maple T.A. Administrator</instructor>
            </element>
            <element>
              <id>398</id>
              <name>American Public University System - College Algebra (APUS Math 110) (ac1jef)</name>
              <instructor>Maple T.A. Administrator</instructor>
   [...]
