--- 
http_interactions: 
- request: 
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/connect
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394133891000</timestamp>
          <signature>dv8yCzudRYjCBN0ivYsa3g==</signature>
          <firstName>Maple T.A.</firstName>
          <middleName nil="true"></middleName>
          <lastName>Administrator</lastName>
          <userLogin>admin</userLogin>
          <userEmail>mapleta@thinkwell.com</userEmail>
          <studentId>admin</studentId>
          <userRole>ADMINISTRATOR</userRole>
          <classId>330</classId>
          <courseId>1</courseId>
        </Request>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |-
        <Response>
          <status>
            <session>6008BB03F2A877A9214908A902662FB1</session>
            <code>0</code>
            <message>OK</message>
          </status>
        </Response>
  recorded_at: Thu, 06 Mar 2014 19:24:51 GMT
recorded_with: VCR 2.8.0
