---
http_interactions:
- request:
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/connect
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394206291000</timestamp>
          <signature>FOjnwj6tHgeW1O3hVI+29g==</signature>
          <firstName>Maple T.A.</firstName>
          <middleName nil="true"></middleName>
          <lastName>Administrator</lastName>
          <userLogin>admin</userLogin>
          <userEmail>mapleta@thinkwell.com</userEmail>
          <studentId>admin</studentId>
          <userRole>ADMINISTRATOR</userRole>
          <classId>34</classId>
          <courseId>1</courseId>
        </Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <Response>
          <status>
            <session>F27E4904A2611AB7A26B87E5635413F8</session>
            <code>0</code>
            <message>OK</message>
          </status>
        </Response>
  recorded_at: Fri, 07 Mar 2014 15:31:31 GMT
recorded_with: VCR 2.8.0
