--- 
http_interactions: 
- request: 
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/ping
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394133891000</timestamp>
          <signature>dv8yCzudRYjCBN0ivYsa3g==</signature>
          <value>foobar</value>
        </Request>

    headers: 
      Content-Type: 
      - text/xml
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |-
        <Response>
          <element>
            <value>foobar</value>
          </element>
        </Response>
  recorded_at: Thu, 06 Mar 2014 19:24:51 GMT
recorded_with: VCR 2.8.0
