---
http_interactions:
- request:
    method: post
    uri: http://mapletadev.thinkwell.com/mapleta/ws/ping
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Request>
          <timestamp>1394206291000</timestamp>
          <signature>FOjnwj6tHgeW1O3hVI+29g==</signature>
          <value>foobar</value>
        </Request>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <Response>
          <element>
            <value>foobar</value>
          </element>
        </Response>
  recorded_at: Fri, 07 Mar 2014 15:31:31 GMT
recorded_with: VCR 2.8.0
